<div class="flex flex-col h-full">
  <header>
    <nav
      class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full"
    >
      <div class="mb-2 sm:mb-0 flex flex-row">
        <div class="h-10 w-10 self-center mr-2">
          <img class="h-10 w-10 self-center" src="/assets/my-trusted.png" />
        </div>
        <div>
          <a
            [routerLink]="['/trades']"
            class="text-2xl no-underline text-grey-darkest hover:text-blue-dark font-sans font-bold"
            >My trusted fund</a
          ><br />
          <!-- <span class="text-xs text-grey-dark">Beautiful New Tagline</span> -->
        </div>
      </div>

      <div class="sm:mb-0 self-center">
        <!-- <div class="h-10" style="display: table-cell, vertical-align: middle;"> -->
        <a
          [routerLink]="['trades']"
          href="#"
          class="text-md no-underline text-black hover:text-blue-dark ml-2 px-1"
          >Trades</a
        >
        <a
          [routerLink]="['portfolio']"
          href="#"
          class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1"
          >Portfolio</a
        >
        <!-- <a href="/two" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">About Us</a> -->
        <a
          [routerLink]="['calculator']"
          href="#"
          class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1"
          >Calculator</a
        >
        <!-- </div> -->
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="mt-auto">
    <div
      class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
    >
      <p
        class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
      >
        © 2023 Mircea Balasel
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
      >
      </span>
    </div>
  </footer>
</div>
